# Archivos y carpetas de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
.DS_Store

# Archivos de Docker
docker-compose.override.yml
docker-compose.dev.yml
.env
.env.local
.env.development
.env.production
.env.test
docker/data/
docker/logs/

# Archivos de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log
*.out
*.err

# Caché del sistema operativo
*.swp
*.swo
*.swn
*~

# Archivos de editor/IDE
.idea/
.vscode/
*.sublime-workspace

# Archivos generados por Docker
**/docker-entrypoint-initdb.d/*
docker-compose.override.yml
.dockerignore

# Archivos de volúmenes de bases de datos (Mongo, MySQL, PostgreSQL, etc.)
/data/
mongo-data/
mysql-data/
postgres-data/

# Otros archivos innecesarios
coverage/
dist/
build/